$primary: rgb(195, 76, 71);
$success: rgb(69, 151, 52);
$info: hsl(204, 100%, 40%);
$link: hsl(217, 68%, 48%);
$danger: rgb(216, 39, 32);

$black: rgb(83, 83, 83);

$light-gray: rgb(225, 225, 225);
$gray: #A5A5A5;
$dark-gray: #7E7E7E;

$white: #ffffff;
$warm-white: rgb(253, 252, 252);
$warmer-white: rgb(249, 246, 246);
