$primary: rgb(195, 76, 71);
$success: rgb(69, 151, 52);

$black: #4C4C4C;

$light-gray: #F4F4F4;
$gray: #A5A5A5;
$dark-gray: #7E7E7E;

$info: hsl(204, 86%, 53%);
$link: hsl(217, 71%, 53%);

$white: #ffffff;
$warm-white: rgb(253, 252, 252);
$warmer-white: rgb(249, 246, 246);
